<app-navbar></app-navbar>

<div class="page-container">
  
  <button routerLink="/dashboard" class="btn-back">
    ⬅ Volver al Dashboard
  </button>
  
  <div *ngIf="mostrarFormulario" class="form-container">
    <h3 class="form-title">{{ editando ? 'Editar Pregunta' : 'Nueva Pregunta' }}</h3>
    
    <form (ngSubmit)="guardar()" class="form-grid-single">
      
      <div class="form-group">
        <label class="form-label">Seleccione el Indicador al que pertenece:</label>
        <select [(ngModel)]="nuevaPregunta.indicador" name="indicador" required class="form-control">
          <option value="" disabled selected>-- Elija un indicador --</option>
          <option *ngFor="let ind of listaIndicadores" [value]="ind.id">
            Indicador {{ ind.numero }}: {{ ind.descripcion }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label class="form-label">¿A qué estamento va dirigida esta pregunta?</label>
        <select [(ngModel)]="nuevaPregunta.estamento_dirigido" name="estamento_dirigido" required class="form-control">
          <option value="" disabled selected>-- Elija el público objetivo --</option>
          <option *ngFor="let estamento of estamentosDisponibles" [value]="estamento">
            {{ estamento }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label class="form-label">Enunciado de la Pregunta:</label>
        <textarea [(ngModel)]="nuevaPregunta.enunciado" name="enunciado" rows="3" 
                  placeholder="Ej: ¿Considera usted que los procesos de admisión son equitativos?" 
                  required class="form-control text-area"></textarea>
      </div>
      
      <div class="form-actions">
        <button type="button" (click)="cerrarForm()" class="btn btn-secondary">Cancelar</button>
        <button type="submit" class="btn btn-primary">
          {{ editando ? 'Actualizar' : 'Guardar al Banco' }}
        </button>
      </div>
      
    </form>
  </div>

  <app-tabla-generica 
    titulo="Banco de Preguntas Institucional" 
    textoBotonNuevo="+ Redactar Pregunta"
    [columnas]="columnas" 
    [datos]="listaPreguntas"
    (clicNuevo)="abrirForm()" 
    (clicEditar)="cargarParaEdicion($event)" 
    (clicEliminar)="eliminar($event)">
  </app-tabla-generica>

</div>