<app-navbar></app-navbar>

<div class="page-container">
  
  <div *ngIf="mostrarFormulario" class="form-container">
    <h3 class="form-title">
      {{ editando ? 'Editar Egresado' : 'Registrar Nuevo Egresado' }}
    </h3>
    
    <form (ngSubmit)="guardarEgresado()" class="grid-form">
      
      <div class="form-group">
        <label class="form-label">Cédula:</label>
        <input type="text" [(ngModel)]="nuevoEgresado.dni" name="dni" required class="form-control">
      </div>
      
      <div class="form-group">
        <label class="form-label">Nombre:</label>
        <input type="text" [(ngModel)]="nuevoEgresado.nombre" name="nombre" required class="form-control">
      </div>
      
      <div class="form-group">
        <label class="form-label">Teléfono:</label>
        <input type="text" [(ngModel)]="nuevoEgresado.telefono" name="telefono" required class="form-control">
      </div>
      
      <div class="form-group">
        <label class="form-label">Correo:</label>
        <input type="email" [(ngModel)]="nuevoEgresado.correo" name="correo" required class="form-control">
      </div>
      
      <div class="form-group">
        <label class="form-label">Tipo:</label>
        <input type="text" [(ngModel)]="nuevoEgresado.tipo" name="tipo" placeholder="Ej: Profesional" required class="form-control">
      </div>
      
      <div class="form-group">
        <label class="form-label">Rol:</label>
        <input type="text" [(ngModel)]="nuevoEgresado.rol" name="rol" placeholder="Ej: Gerente / Analista" required class="form-control">
      </div>
      
      <div class="form-group">
        <label class="form-label">Universidad:</label>
        <input type="text" [(ngModel)]="nuevoEgresado.universidad" name="universidad" required class="form-control">
      </div>
      
      <div class="form-group">
        <label class="form-label">Programa:</label>
        <input type="text" [(ngModel)]="nuevoEgresado.programa" name="programa" required class="form-control">
      </div>
      
      <div class="form-group">
        <label class="form-label">Empresa:</label>
        <input type="text" [(ngModel)]="nuevoEgresado.empresa" name="empresa" placeholder="Nombre de la empresa" class="form-control">
      </div>

      <div class="form-actions">
        <button type="button" (click)="cerrarForm()" class="btn btn-secondary">Cancelar</button>
        <button type="submit" class="btn btn-primary">
          {{ editando ? 'Actualizar Datos' : 'Guardar Egresado' }}
        </button>
      </div>
      
    </form>
  </div>

  <app-tabla-generica 
    titulo="Gestión de Egresados"
    textoBotonNuevo="+ Nuevo Egresado"
    [columnas]="columnasEgresados" 
    [datos]="listaEgresados"
    (clicNuevo)="abrirForm()"
    (clicEditar)="cargarDatosParaEdicion($event)"
    (clicEliminar)="eliminarEgresado($event)">
  </app-tabla-generica>

</div>