<div class="login-page-container">
  <h2 class="login-title">Sistema de Reacreditación</h2>
  
  <div class="login-card">
    <form (ngSubmit)="iniciarSesion()" class="login-form">
      
      <div class="form-group">
        <label class="form-label">Usuario:</label>
        <input type="text" name="username" [(ngModel)]="datosLogin.username" required class="form-control">
      </div>
      
      <div class="form-group" style="margin-bottom: 20px;">
        <label class="form-label">Contraseña:</label>
        <input type="password" name="password" [(ngModel)]="datosLogin.password" required class="form-control">
      </div>
      
      <button type="submit" class="btn-primary">
        Entrar
      </button>

    </form>
    
    <p *ngIf="mensajeRespuesta" class="error-message">
      {{ mensajeRespuesta }}
    </p>

  </div>
</div>