<app-navbar></app-navbar>

<div class="page-container">
  
  <div *ngIf="mostrarFormulario" class="form-container">
    <h3 class="form-title">{{ editando ? 'Editar' : 'Nuevo' }} Empleador</h3>
    
    <form (ngSubmit)="guardar()" class="grid-form">
      <div class="form-group">
        <label class="form-label">Documento:</label>
        <input type="text" [(ngModel)]="nuevoRegistro.dni" name="dni" required class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label">Nombre:</label>
        <input type="text" [(ngModel)]="nuevoRegistro.nombre" name="nombre" required class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label">Teléfono:</label>
        <input type="text" [(ngModel)]="nuevoRegistro.telefono" name="telefono" required class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label">Correo:</label>
        <input type="email" [(ngModel)]="nuevoRegistro.correo" name="correo" required class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label">Empresa:</label>
        <input type="text" [(ngModel)]="nuevoRegistro.empresa" name="empresa" required class="form-control">
      </div>
      
      <div class="form-actions">
        <button type="button" (click)="cerrarForm()" class="btn btn-secondary">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </div>

  <app-tabla-generica 
    titulo="Gestión de Empleadores" 
    textoBotonNuevo="+ Nuevo Empleador"
    [columnas]="columnas" 
    [datos]="listaEmpleadores"
    (clicNuevo)="abrirForm()" 
    (clicEditar)="cargarParaEdicion($event)" 
    (clicEliminar)="eliminar($event)">
  </app-tabla-generica>

</div>